<!doctype html>
<html>
	<head>
		<title> About Page </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<style>
			#menu{font-size:20px;font-weight:bold;}
		</style>
	</head>
	<body>
		<header>
			<script src="static/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
			<script src="main.js"></script>
			<nav class="navbar navbar-expand-md fixed-top">
			<a class="navbar-brand" href="#"><img src="static/logo.jpg" alt="logo" width="120"></a>
		<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="intro" class = "view">
			<div class="full-bg-img" style="font-size:32px;text-shadow:3px 3px maroon;color:white;font-weight:bold">
		&nbsp;&nbsp;CROP RECOMMENDATION SYSTEM
			</div>
		</div>
 
		<div class="collapse navbar-collapse" id="main-navigation">
		<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="/index2" id="menu">HOME</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/about" id="menu">ABOUT</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/signup" id="menu">SIGN UP </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/signin" id="menu">SIGN IN </a>
		</li>
	  
		</ul>
		</div>
		</nav>
		<br><br><br><br><br><br><br><br><br>
		<div style="margin-right:100px;margin-left:100px;">
		<p style="font-size:24px">Prototype for a real-time crop recommendation using Machine Learning and Data Analytics.
		Most of the farmers go for a particular crop being unaware of the climatic conditions of that time whether it will suit to the crop or not.
		It is some time impossible for the farmers to know the conditions of the soil through soil testing whether it will suit to the crop or not.
		Due to this reason sometimes they have to bear losses in the farming which in turn greatly affects our society.
		<br>
		This work presents a system, in form of a website.
		We have used Machine Learning techniques in order to predict the most profitable crop in the forecasted weather and soil conditions at a specified location. 
		The proposed system will integrate the data obtained from soil, crop repository, 
		weather department and by applying machine learning algorithm a
		prediction of most suitable crops according to current environmental conditions is made. 
		This provides a farmer with variety of options of crops that can be cultivated.</p>

		</div>
		</header>
	</body>


</html>
		
		
		