<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/nav.css">
    <title>Title</title>
</head>

<body bgcolor="purple">
<script src="static/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
<form name="f1" method="post">
City:<select name="s">
<option value='Bangalore'>Bangalore</option>
<option value='Pune'>Pune</option>
<option value='Mumbai'>mumbai</option>
<option value='Nashik'>nashik</option>
<option value='DehraDun'>DehraDun</option>
<option value='Combaitore'>Combaitore</option>
</select>
MONTH:<select name="m">
<option value=1>JANUARY</option>
<option value=2>February</option>
<option value=3>March</option>
<option value=7>July</option>
</select>
<input type=submit>
</form>
</body>
</html>